/*header div{
  width: 100px;
  height: 45px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  border: 1px solid green;
}

header #cart{
  padding: 0px;
  border: 0px;
}*/


/*above this is testing*/
@font-face {
  font-family: PoiretOne;
  src:  url('../fonts/PoiretOne.ttf') format('truetype');
}

body{
  width: 1345px;
  background-color: #F7F5EE;
}

header{
  position: fixed;
  width: 1366px;
  border-bottom: 1px solid green;
  background-color: white;
  z-index: 2;
}

.bar{
  background-color: green;
  height: 10px;
  width: 1349px;
  padding-top: 85px;
}

header h1{
  background: url(../images/foodie.png);
  background-size: 150px;
  text-indent: -9999px;
  font-family: PoiretOne, cursive;
  font-size: 50px;
  padding: 5px;
  font-weight: bolder;
  width: 140px;
  float: left;
  border-right: 1px solid green;
  margin: auto;
}

header li{
  display: inline;
  margin: 0px 32px;
}

header  ul{
  margin: 27.5px 0px;
  float: right;
}

header a:hover{
  color: grey;
  /*text-shadow: 1px 1px grey;*/
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/*
nav{
  overflow: hidden;
  min-width: 775px;
  float: right;
  position: static;
}*/

#cart img{
  width: 30px;
  height: 30px;
  padding: 27.5px;
  border-left: 1px solid green;
}
#cart{
  float: right;
}

.content{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 75px;
}

.content img{
  width: 280px;
  height: 280px;
  padding: 5px 0px;
  border-radius: 10px;
}

.content .grid_4{
  background-color: white;
  padding: 0px 5px;
  box-sizing: border-box;
  margin: 5px 5px;
  border: 2px solid white;
  box-shadow: 0px 0px 2px 0px #d3cbb8;
  border-radius: 10px;
  height: 480px;
}

.content .grid_4:hover{
    border: 2px solid #4EF563;
}


.follow img{
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

footer{
  color: white ;
  background-color: #363636;
  overflow: hidden;
  padding: 20px 90px;
  padding-top: 35px;
}

footer a{
  color: #ccc;
}

footer ul{
  list-style: none;
}

footer .follow li{
  display: inline;
}

.follow{
  width:300px;
}

.follow ul{
  margin-left: -35px;
}

footer h1{
  font-family: PoiretOne, cursive;
  font-size: 50px;
  background: url(../images/foodie2.png) no-repeat;
  background-size: 180px;
  margin-left: -18px;
  text-indent: -9999px;
}

footer div{
  width: 250px;
}

footer div li{
  font-size: 13px;
}

footer h3{
  margin-top: 30px;
  color: #DDD;
}
